.page__header {
    box-sizing: border-box;
    margin: 45px 200px 40px;
    border-bottom: solid 1px #545454;
    min-height: 74px;
}

@media screen and (max-width: 1070px) {
    .page__header {
        margin: 40px 100px 40px;
    }
}

@media screen and (max-width: 870px) {
    .page__header {
        margin: 35px 50px 40px;
    }
}

@media screen and (max-width: 530px) {
    .page__header {
        margin: 28px 0 42px;
    }
}