.profile__name {
    display: inline-block;
    margin: 0 15px 9px 0;
    font-weight: 500; /*изменить шрифт*/
    font-size: 42px;
    line-height: 48px;
    color: #fff;
}

@media screen and (max-width: 1070px) {
    .profile__name {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        margin-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    .profile__name {
        max-width: 100%;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 636px) {
    .profile__name {
        padding-left: 28px;
        margin-bottom: 8px;
        margin-right: 6px;
    }
}