.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url(../../../images/profile__avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 636px) {
    .profile__avatar {
        margin: 0 auto 26px;
    }
}